@import src/styles/base/_base

.month
  width: 100%

  &-header
    text-align: center

    &-goPrev, &-goNext
      margin: 10px

    &-selected
      display: inline-block
      width: 100px

  &-days
    margin-top: 10px

    &-week
      min-height: 50px
      display: flex
      
      &-day
        width: 10%
        min-width: 100px
        border: 1px $black solid
        text-align: center
        position: relative

        &Number
          width: 20px
          height: 20px
          text-align: center
          line-height: 20px
          border-right: 1px $black solid
          border-bottom: 1px $black solid

        &Event, &EventEdit, &EventNew
          margin: 2px 5px
          line-height: 18px
          text-align: center
          border: 1px $black solid
          border-radius: 2px
          cursor: pointer

        &Event
          height: 20px
          overflow: hidden

        &EventEdit, &EventNew
          min-height: 20px
          position: absolute
          background-color: $white
          z-index: 1
          width: auto
          left: calc( -50% - 2.5px )

          input
            margin: 5px

        &-showMore
          margin: 2px 5px
          height: 20px
          line-height: 6px
          font-size: 0.8rem

