<div class="month">
  <div class="month-header">
    <div class="month-header-year">{{selectedDate | amDateFormat:'YYYY'}}</div>
    <span class="month-header-goPrev" [inlineSVG]="'arrow-left.svg'" (click)="changeMonth(-1)">
    </span>
    <span class="month-header-selected">
      {{selectedDate | amLocale: globalLang | amDateFormat:'MMMM'}}
    </span>
    <span class="month-header-goNext" [inlineSVG]="'arrow-right.svg'" (click)="changeMonth(1)">
    </span>
  </div>
  <div class="month-days">
    <div class="month-days-week" *ngFor="let week of days">
      <div class="month-days-week-day" *ngFor="let day of week" dnd-droppable (onDropSuccess)="addNewEvent($event, day)">
        <div class="month-days-week-dayNumber">{{day.getDate()}}</div>
        <div *ngFor="let event of getEventsInDay(day) | slice:0:2;">
          <div class="month-days-week-dayEvent" *ngIf="isEventDay(event, day) && !isEdit(event)" (click)="editEvent(event)">
            {{event.type}}
          </div>
          <div class="month-days-week-dayEventEdit" *ngIf="isEdit(event)">
            <div *ngIf="event.type !== 'niestandardowe'">{{event.type}}</div>
            <input type="text" *ngIf="event.type === 'niestandardowe'" [(ngModel)]="event.type">
            <input type="text" [(ngModel)]="event.members">
            <button type="button" class="month-days-week-day-showMore btn btn-primary" (click)="save(event)">
              {{'save' | translate}}
            </button>
          </div>
        </div>
        <div class="month-days-week-dayEventNew" *ngIf="isNewEventInDay(day)">
          <div *ngIf="newEvent.type !== 'niestandardowe'">{{newEvent.type}}</div>
          <input type="text" *ngIf="newEvent.type === 'niestandardowe'" [(ngModel)]="newEvent.type">
          <input type="text" [(ngModel)]="newEvent.members">
          <button type="button" class="month-days-week-day-showMore btn btn-primary" (click)="save(newEvent)">
            {{'save' | translate}}
          </button>
          <button type="button" class="month-days-week-day-showMore btn btn-primary" (click)="cancel()">
            {{'cancel' | translate}}
          </button>
        </div>
        <button type="button" class="month-days-week-day-showMore btn btn-primary" *ngIf="getEventsInDay(day).length > 2"
          (click)="showDay(day)">
          {{'more' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<app-sidebar></app-sidebar>