<div class="month">
  <div class="month-header">
    <div class="month-header-year">{{selectedDate | amDateFormat:'YYYY'}}</div>
    <span class="month-header-goPrev" [inlineSVG]="'arrow-left.svg'" (click)="changeMonth(-1)">
    </span>
    <span class="month-header-selected">
      {{selectedDate | amLocale: globalLang | amDateFormat:'MMMM'}}
    </span>
    <span class="month-header-goNext" [inlineSVG]="'arrow-right.svg'" (click)="changeMonth(1)">
    </span>
  </div>
  <div class="month-days">
    <div class="month-days-week" *ngFor="let week of days">
      <div class="month-days-week-day" *ngFor="let day of week">
        <div class="month-days-week-dayNumber">{{day.getDate()}}</div>
        <div *ngFor="let event of getEventsInDay(day) | slice:0:2;">
          <div class="month-days-week-dayEvent" *ngIf="isEventDay(event, day)">
            {{event.type}}
          </div>
        </div>
        <button type="button" class="month-days-week-day-showMore btn btn-primary" *ngIf="getEventsInDay(day).length > 2"
          (click)="showDay(day)">
          {{'more' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>